/* Hero Section */

.home-section {
  width: 100%;
  min-height: 100vh;
   
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 8%;
}

.hero{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:100px;
}

/* Left Side */

.hero-left {
  flex: 1;
}

.sec1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.sec2 {
  font-size: 2rem;
  line-height: 1.4;
  color: #38bdf8;
  margin-bottom: 25px;
 
             
              
}



  .sec3{
    width:350px;
    min-height:220px;   /* 👈 height badh jayegi */

    padding:30px;

    border:2px solid #00f5ff;
    border-radius:18px;

    box-shadow:0 0 18px #00f5ff;

    display:flex;
    align-items:center;
}
  
  


/* Right Side */

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.siuu {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid cyan;
  box-shadow: 0 0 40px cyan;
  transition: 0.5s;
}

.siuu:hover{
    box-shadow:
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
}


/* Responsive */

@media (max-width:768px){

.hero{
    flex-direction:column-reverse;
    text-align:center;
    gap:35px;
    padding:50px 0;
}

.hero-left{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sec1{
    font-size:2.3rem;
}

.sec2{
    font-size:1.25rem;
}

.sec3{
    max-width:100%;
}

.sec3 p{
    font-size:0.95rem;
    line-height:1.8;
}

.siuu{
    width:240px;
    height:240px;
    border-radius:50%;
}

}

