/* Hero Section */

.home-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 8%;
}

.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Left Side */

.sec1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.sec2 {
  font-size: 2rem;
  color: #fff;
  margin-top: 20px;
}

.bca{
  line-height: 1.4;
}

.siuu {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid cyan;
  box-shadow: 0 0 40px cyan;
  transition: 0.5s;
}

.siuu:hover {
  box-shadow:
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
}

/* ================= MOBILE ================= */

@media (max-width:768px){

.home-section{
    padding:60px 20px 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
    gap:35px;
}

.hero-left,
.hero-right{
    width:100%;
}

.sec1{
    font-size:2.2rem;
}


    .sec2{
    font-size:14px;
    text-align:center;
    padding:0 15px;
    white-space:normal;
    width:100%;
    word-break: break-word;
}
}

.siuu{
     width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
}

.bca br{
    display:none;
}

