.navbar{
    width:100%;
    padding:10px 8%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    
 box-sizing: border-box;

   background: rgba(0, 0, 0, 0.45); /* transparent black */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255,255,255,0.1);


}

.nav-links{
    display:flex;
    gap:50px;
    list-style: none;
    padding:0;
    margin:0;
    
    
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#00f5ff;
}

/* Tablet */
@media (max-width:768px){

    .navbar{
        padding:18px 5%;
    }

    .nav-links{
        gap:25px;
    }

    .nav-links li a{
        font-size:16px;
    }

}
@media (max-width:480px){

    .navbar{
        padding:10px 4%;
    }

    .kundan{
        font-size:22px;
    }

    .nav-links{
        gap:10px;
    }

    .nav-links li a{
        font-size:12px;
    }
}
.kundan{
margin-right: auto;
color: #00F5FF;
    text-shadow: 0 0 10px rgba(0,245,255,0.7);
    font-weight: 900;
    font-size: 36px;


}